@page "/Generators"
<div class="container">
	<center><h3>DATA GENERATORS</h3></center>

	<div class="row">
		<div class="col-xl-3 col-lg-6 col-md-12 p-2">
			<Card Class="h-100">
				<CardHeader>
					<div class="d-flex justify-content-between">
						<Icon Name="IconName.Fingerprint" Size="IconSize.x5"></Icon>
						<CardTitle>GUID</CardTitle>
					</div>
				</CardHeader>
				<CardBody>
					<CardText>Generate GUID/UUID in variuous formats.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/Generators/GUID">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 p-2">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.SortNumericDown"></Icon>
					<CardTitle>ULID</CardTitle>
				</CardHeader>
				<CardBody>
					<CardText>Generate random Universally Unique Lexicographically Sortable Identifier.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/Generators/ULID">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 p-2">
			<Card Class="h-100">
				<CardHeader>
					<div class="d-flex justify-content-between">
						<Icon Name="IconName.Coin" Size="IconSize.x5"></Icon>
						<CardTitle>Token</CardTitle>
					</div>
				</CardHeader>
				<CardBody>
					<CardText>Generate random string with the chars you want, uppercase or lowercase letters, numbers and/or symbols.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/Generators/Token">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 p-2">
			<Card Class="h-100">
				<CardHeader>
					<div class="d-flex justify-content-between">
						<Icon Name="IconName.QrCode" Size="IconSize.x5"></Icon>
						<CardTitle>QR Code</CardTitle>
					</div>
				</CardHeader>
				<CardBody>
					<CardText>Generate QR Code from a string.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/Generators/QRCode">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>
	</div>

</div>


@code {
	string Title { get; set; } = "GENERATORS";
}