@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
	<div class="d-flex flex-column align-items-center">

		<h3 class="fw-bold">INFOKOM</h3>
		<h2>DATA TOOLS</h2>
		<hr class="w-25" />
		<p>IT Data Tools for Developers</p>
	</div>
</div>

