@page "/"

<PageTitle>INFOKOM TOOLS</PageTitle>




<div class="container">
	<center><h3>DATA GENERATORS</h3></center>

	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card>
				<CardHeader>
					<div class="d-flex justify-content-between">
						<CardTitle>GUID Generator</CardTitle>
						<Icon Name="IconName.Fingerprint" Size="IconSize.x5"></Icon>
					</div>
				</CardHeader>
				<CardBody>
					<CardText>Generate GUID/UUID in variuous formats.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/Generators/GuidGenerator">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>


		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

	</div>

</div>
