@page "/GuidGenerator"


<div class="container">
	<h3>GUID/UUID Generator</h3>
	<div class="form-group row mb-3">
		<label class="col-md-2 col-form-label">No. of GUIDs: <span class="text-danger">*</span></label>
		<div class="col-md-2">
			<NumberInput TValue="int" Placeholder="Input how many records you want to generate (1-2000)!" Min="1" Max="1000" @bind-Value="GuidCount" />
		</div>
	</div>

	<div class="row form-group">
		<label class="col-2 col-form-label">Format options: </label>
		<div class="col-10 d-flex flex-wrap">
			<div class="col">
				<CheckboxInput Label="Uppercase" @bind-Value="Uppercase"/>

			</div>
			<div class="col">
				<InputCheckbox @bind-Value="Braces"></InputCheckbox>
			</div>
			<div class="col">
				<InputCheckbox @bind-Value="Hyphens"></InputCheckbox>
			</div>
			<div class="col">
				<InputCheckbox @bind-Value="Commas"></InputCheckbox>
			</div>
			<div class="col">
				<InputCheckbox @bind-Value="Quotes"></InputCheckbox>
			</div>
		</div>
	</div>
</div>

@code {

	private int GuidCount { get; set; } = 5;

	private bool Uppercase { get; set; }
	private bool Braces { get; set; }
	private bool Hyphens { get; set; }
	private bool Commas { get; set; }
	private bool Quotes { get; set; }



	private string generatedGuid = string.Empty;

	private void GenerateGuid()
	{
		
		generatedGuid = Guid.NewGuid().ToString();
	}
}
