@page "/"

<PageTitle>Blazor Bootstrap - Home</PageTitle>

<div class="container px-4 px-lg-5 h-100">
	<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
		<div class="col-lg-8 align-self-end">
			<h1>INFOKOM TOOLS</h1>
			<hr class="divider">
		</div>
		<div class="col-lg-8 align-self-baseline">
			<p>Data Generator Tools</p>
		</div>
	</div>


	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card>
				<CardHeader >
					<div class="d-flex justify-content-between">
						<CardTitle>GUID Generator</CardTitle>
						<Icon Name="IconName.Fingerprint" Size="IconSize.x5"></Icon>
					</div>					
				</CardHeader>
				<CardBody>
					<CardText>Generate GUID/UUID in variuous formats.</CardText>
				</CardBody>
				<CardFooter>
					<div class="d-flex justify-content-end">
						<NavLink href="/GuidGenerator">Open</NavLink>
					</div>
				</CardFooter>
			</Card>
		</div>
		

		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<Card Class="h-100">
				<CardHeader Class="d-flex justify-content-between">
					<Icon Name="IconName.Question"></Icon>
					<CardTitle> </CardTitle>
				</CardHeader>
				<CardBody>
					<CardText></CardText>
				</CardBody>
				<CardFooter>
					<NavLink href="">Open</NavLink>
				</CardFooter>
			</Card>
		</div>

	</div>

</div>